<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Edit Posts</title>
</head>
<body>
    <h1>{{uname}}'s Posts</h1>
    <button type="button" onclick="location.href='/logout/'">Logout</button>
    <button type="button" onclick="location.href='/'">All Posts</button>
    <table align="center">
        <form action="" method="post" onsubmit="return(val());" enctype="multipart/form-data">{% csrf_token %}
            <tr>
                <td>Add Description: </td><td><input id="newpostcreate" name="desc" type="text"></td>
                <td><div id="newposterr"></div></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </form>
    </table>
    {% for objects in posts reversed%}
    <table id="tble_{{objects.id}}" align="center">
        <tr>
            <td style="float: left; width: 300px; font-size: 16px;" colspan="2">{{objects.user}}</td>
            <td><button type="button" id="edit_{{objects.id}}" onclick="editPost(this.id)">Edit</button></td>
            <td><button type="button" id="delete_{{objects.id}}" onclick="deletePost(this.id)">Delete</button></td>
        </tr>
        <tr>
            <td colspan="2"><div id="postdata_{{objects.id}}">{{objects.description}}</div></td>
        </tr>
        <tr id="onlylogin_{{objects.id}}">
            <td style="width: 150px;"><button style="cursor: pointer;" id="lik_{{objects.id}}" onclick="addLike(this.id)" type="button">Like</button>
                <div style="cursor: pointer;" id="likcount_{{objects.id}}" onclick="showlikes(this.id)">0</div>
                <div align="center" id="likeusers_{{objects.id}}">
                    {% for like in objects.likes reversed %}
                        {{like.user}} <br>
                    {% endfor %}
                </div></td>
            <td><input id="comm_{{objects.id}}" class="comment" type="text">
                <button id="commbi_{{objects.user.id}}" class="commbt{{objects.id}}" onclick="addComment(this.className, this.id)" type="button">comment</button></td>
        </tr>
        <tr>
            <td>Comments:</td>
        </tr>
        {% for comment in objects.comments reversed %}
        <tr>
            <td>{{comment.user}}</td><td>{{comment.comment}}
                <div id="commentliklogin_{{comment.cid}}_{{objects.id}}" style="float: right;">
                    <button id="commlike_{{comment.cid}}_{{objects.id}}" onclick="addcommlike(this.id)" >Like</button>
                    <div id="commlikecnt_{{comment.cid}}_{{objects.id}}" onclick="showcommlike(this.id)" style="cursor: pointer; float: right;">0</div>
                    <div id="comlikeuser_{{comment.cid}}_{{objects.id}}" align="center">
                        {% for like in comment.likes reversed %}
                            {{like.user}} <br>
                        {% endfor %}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr id="hr_{{objects.id}}" width="700px">
    {% endfor %}
    <script>
        document.body.onload(posts())
        function posts(){
            console.log("Loaded");
            let status = '{{loginstatus}}';
            if(status === 'false'){
                document.getElementById('lgot').style.display = 'none';
                document.getElementById('myposts').style.display = 'none';
                {% for post in posts %}
                {% for likes in post.likes %}
                var count = document.getElementById('likcount_{{post.id}}').innerHTML;
                document.getElementById('lik_{{post.id}}').innerHTML = 'Liked';
                count = Number(count) + 1;
                document.getElementById('likcount_{{post.id}}').innerHTML = count;
                {% endfor %}
                document.getElementById('onlylogin_{{post.id}}').style.display = 'none';
                {% endfor %}
            }else{
                {% for post in posts reversed%}
                {% for likes in post.likes %}
                var count = document.getElementById('likcount_{{post.id}}').innerHTML;
                console.log("{{likes.user.id}}");
                {% if likes.user.id == uid %}
                document.getElementById('lik_{{post.id}}').innerHTML = 'Liked';
                {% endif %}
                console.log("{{post.id}}");
                count = Number(count) + 1;
                document.getElementById('likcount_{{post.id}}').innerHTML = count;
                {% endfor %}
                document.getElementById('likeusers_{{post.id}}').style.display = 'none';
                {% for comment in post.comments %}
                {% for like in comment.likes %}
                var count = document.getElementById("commlikecnt_{{comment.cid}}_{{post.id}}").innerHTML;
                count = Number(count) + 1;
                document.getElementById("commlikecnt_{{comment.cid}}_{{post.id}}").innerHTML = count;
                {% if like.user.id == uid %}
                document.getElementById("commlike_{{comment.cid}}_{{post.id}}").innerHTML = 'Liked';
                {% endif %}
                {% endfor %}
                document.getElementById("comlikeuser_{{comment.cid}}_{{post.id}}").style.display = "none";
                {% endfor %}
                {% endfor %}
                // document.getElementById('lin').style.display = 'none';
            }
        }

        function val(){
            if(document.getElementById("newpostcreate").value == ''){
                document.getElementById("newposterr").innerHTML = 'Please enter something.';
                return false;
            }
        }

        function showlikes(luid){
            var id =  luid.substring(9, luid.length);
            if (document.getElementById('likeusers_'+id).style.display === 'block'){
                document.getElementById('likeusers_'+id).style.display = 'none';   
            }else if(document.getElementById('likeusers_'+id).style.display === 'none'){
                document.getElementById('likeusers_'+id).style.display = 'block';
            }
        }

        function editPost(epid){
            var id = epid.substring(5, epid.length);
            var postdata = document.getElementById('postdata_'+id).innerHTML;
            var newdata = prompt("Please enter new post.");

            if (newdata != null) {
                $.ajax({
                    type:"GET",
                    url:"/editpost/",
                    data:{
                        postid: id,
                        data: newdata
                    }
                })
                document.getElementById('postdata_'+id).innerHTML = newdata;
            }
            
        }

        function deletePost(epid){
            var id = epid.substring(7, epid.length);
            if (confirm("are you sure?")){
                $.ajax({
                    type:"GET",
                    url:"/deletepost/",
                    data:{postid:id}
                })
                document.getElementById('tble_'+id).remove();
                document.getElementById('hr_'+id).remove();
            }
        }
        
        function addLike(cl){
            console.log("adLike");
            if (document.querySelector("#"+cl).innerHTML === 'Liked'){
                var count = Number(document.getElementById("likcount_"+cl.substring(4,cl.length)).innerHTML)-1;
                document.getElementById("likcount_"+cl.substring(4,cl.length)).innerHTML = count;
                let id = cl.substring(4,cl.length);
                $.ajax({
                    type:"GET",
                    url:"/likepost/",
                    data:{idd:id, status:0, posterid:"{{uid}}"}
                })
                document.querySelector("#"+cl).innerHTML = 'Like';
            }else{
                var count = Number(document.getElementById("likcount_"+cl.substring(4,cl.length)).innerHTML)+1;
                document.getElementById("likcount_"+cl.substring(4,cl.length)).innerHTML = count;
                let id = cl.substring(4,cl.length);
                $.ajax({
                    type:"GET",
                    url:"/likepost/",
                    data:{idd:id, status:1, posterid:"{{uid}}"}
                })
                document.querySelector("#"+cl).innerHTML = 'Liked';
            }
        }

        function addComment(cls, cid){
            console.log(cid.substring(7, cid.length));
            $.ajax({
                type:"GET",
                url:"/commentpost/",
                data:{
                    postid: cls.substring(6, cls.length),
                    posterid: "{{uid}}",
                    comment: document.getElementById('comm_'+cls.substring(6, cls.length)).value
                }
            })
            var table = document.getElementById('tble_'+cls.substring(6, cls.length));
            let rw = table.insertRow(4);
            rw.insertCell(0).innerHTML = '{{uname}}';
            rw.insertCell(1).innerHTML = document.getElementById('comm_'+cls.substring(6, cls.length)).value;
        }
        function showcommlike(scid){
            var comid = scid.split("_")[1];
            var pid = scid.split("_")[2];
            if(document.getElementById("comlikeuser_"+comid+"_"+pid).style.display === "none"){
                document.getElementById("comlikeuser_"+comid+"_"+pid).style.display = "block";
            }else if(document.getElementById("comlikeuser_"+comid+"_"+pid).style.display === "block"){
                document.getElementById("comlikeuser_"+comid+"_"+pid).style.display = "none";
            }
            
        }

        function addcommlike(clid){
            var commid = clid.split('_')[1];
            var posid = clid.split('_')[2];
            if (document.getElementById(clid).innerHTML === 'Like'){
                $.ajax({
                    type:"GET",
                    url:"/likecomment/",
                    data:{commid:commid, posid:posid, status:1, likerid:"{{uid}}"}
                })
                document.getElementById(clid).innerHTML = 'Liked';
                var count = document.getElementById("commlikecnt_"+commid+"_"+posid).innerHTML;
                count = Number(count) + 1;
                document.getElementById("commlikecnt_"+commid+"_"+posid).innerHTML = count;
            }else if(document.getElementById(clid).innerHTML === 'Liked'){
                $.ajax({
                    type:"GET",
                    url:"/likecomment/",
                    data:{commid:commid, posid:posid, status:0, likerid:"{{uid}}"}
                })
                document.getElementById(clid).innerHTML = 'Like';
                var count = document.getElementById("commlikecnt_"+commid+"_"+posid).innerHTML;
                count = Number(count) - 1;
                document.getElementById("commlikecnt_"+commid+"_"+posid).innerHTML = count;
            }
        }
    </script>
</body>
</html>