<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="" method="post" onsubmit="return(val());">{% csrf_token %}
        New Password: <input name="newpass" id="inpass" type="password"><div id="npass"></div>
        Confirm Password: <input name="conpass" id="cnpass" type="password"><div id="cpass"></div>
        <button type="submit">Reset</button>
    </form>
    <script>
        function val(){
            let error = 0;
            if(document.getElementById('inpass').value === ''){
                document.getElementById('npass').innerHTML = 'Please Enter a New Password';
                error = error + 1;
            }else if(document.getElementById('inpass').value.length < 8){
                document.getElementById('npass').innerHTML = 'Enter password greater than 8 ';
                error = error + 1;
            }
            if(document.getElementById('cnpass').value === ''){
                document.getElementById('cpass').innerHTML = 'Please Enter a New Password';
                error = error + 1;
            }else if(document.getElementById('inpass').value !== document.getElementById('cnpass').value){
                document.getElementById('cpass').innerHTML = 'Passwords do not match';
                error = error + 1;
            }
            if (error === 0){
                return true;
            }else{
                return false;
            }
        }
    </script>
</body>
</html>